<section class="section-manualidades">
    <h1>Manualidades</h1>
    <div class="texts-part">
        <p>Para los más pequeños, las manualidades hacen más enriquecedora su experiencia y ayudan al desarrollo de diversas habilidades en la persona. Además de ayudar a potenciar y estimular la imaginación, desarrollando también su motricidad y coordinación.</p>
        <p>Con los adultos el efecto es muy parecido. Realizar una manualidad nos relaja de nuestra jornada laboral y ayuda a sentirnos mejor. Nuestra creatividad aumenta y mejora nuestro trabajo habitual.</p>
        <p>Para los mayores, hacer manualidades sirve de terapia, ya que están continuamente ejercitando músculos, comparten una actividad con otras personas y además estimulan la memoria, ya que aprenden la historia de los materiales que trabajan.</p> 
    </div>

    <div class="creativas">
        <p>Creativas</p>
        <h3>Con todo tipo de materiales</h3>
        <div class="images-creativas">
            <img src="../../../../assets/talleres/no-photo.jpg">
            <img src="../../../../assets/talleres/no-photo.jpg">
            <img src="../../../../assets/talleres/no-photo.jpg">
            <img src="../../../../assets/talleres/no-photo.jpg">
        </div>
        

    </div>
    <div class="tematicas">
        <p>Temáticas</p>
        <div class="tematicas-content">
            <ul>
                <h4>Elige el tema que más se adapte a lo que buscas:</h4>
                <li>Reciclaje</li>
                <li>Naturaleza</li>
                <li>Mar</li>
                <li>Cocina</li>
                <li>Oficios artesanales</li>
                <li>Música</li>
                <li>Castañada</li>
                <li>Navidad</li>
                <li>Carnaval</li>
                <li>Pascua</li>
                <li>Día del libro</li>
                <li>Día de Canarias</li>
                <li>Oficios artesanales (Cerámica creativa, jabones artesanales, rosetas artesanales, técnica de pintura en piedras, técnica del trencadís.)</li>
                <li>Otros</li>
                
            </ul>
            <div class="images-tematicas">
                <img src="../../../../assets/talleres/no-photo.jpg">
                <img src="../../../../assets/talleres/no-photo.jpg">
                <img src="../../../../assets/talleres/no-photo.jpg">
                <img src="../../../../assets/talleres/no-photo.jpg">
            </div>
        </div>
        

    </div>
    

</section>


