<section class="section-medioambiental">
    <h1>Medioambientales</h1>
    <div class="medioambiente">
       <!-- <p>Descripcion</p> -->
        <div class="container-medioambiental">
            <ul>
                
                <li>Plantación de un árbol y reforestación</li>
                <li>Senderismo interpretativo</li>
                <li>Visitas a viveros pedagógicos</li>
                <li>Construcción de un huerto escolar</li>
                <li>Talleres de reciclaje y art-land</li>
                <li>Cuaderno de campo y herbarios</li>
                <li>Estudio de la Laurisilva</li>
                <li>Juegos en la naturaleza</li>
            </ul>
            <div class="images-medioambiental">
                <img src="../../../../assets/talleres/no-photo.jpg">
                <img src="../../../../assets/talleres/no-photo.jpg">
                <img src="../../../../assets/talleres/no-photo.jpg">
                <img src="../../../../assets/talleres/no-photo.jpg">
            </div>
        </div>
    </div>
</section>