<div class="map-container">
    <section class="mapaLude" data-id="9aa0e02" data-element_type="section">
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-caa0482" data-id="caa0482" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-258ad88 elementor-widget elementor-widget-google_maps" data-id="258ad88" data-element_type="widget" data-widget_type="google_maps.default">
                        <div class="elementor-widget-container">
                            <style>
                                /*! elementor - v3.6.7 - 03-07-2022 */ 
                                .elementor-widget-google_maps .elementor-widget-container {
                                    overflow: hidden;
                                    width: 700px;
                                }
                                .elementor-widget-google_maps iframe {
                                    height: 300px;
                                    width: 80%; /* Aumenta el ancho al 100% del contenedor */
                                }
                            </style>		
                            <div class="elementor-custom-embed">
                                <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=Albergue+La+Hoyilla&amp;t=m&amp;z=12&amp;output=embed&amp;iwloc=near" title="ludenatura" aria-label="ludenatura"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        
</div>



