
.footer {
    text-align: center;
    padding: 20px;
    background-color: #20aec8;
}

.footer p{
    font-size: 1rem;
}

.footer-logo {
    width: 130px;
    height: auto;
    cursor: pointer;
}

.social-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer ul li {
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid rgb(248, 252, 255);
    float: left;
    transition: all 0.3s ease;
}

.footer ul li .fa {
    color:rgb(248, 252, 255);
    margin-top: 6px;
    transition: all 0.3s ease;
}

.footer ul li:hover.facebook {
    border: 3px solid #3b5998;
    box-shadow: 0 0 15px #ffffff;
    transition: all 0.3 ease;
}
.footer ul li:hover .fa-facebook {
    color: #3b5998;
    text-shadow: 0 0 15px #fefefe;
    transition: all 0.3 ease;
}

.footer ul li:hover.instagram {
    border: 3px solid #bc2a8d;
    box-shadow: 0 0 15px #ffffff;
    transition: all 0.3 ease;
}
.footer ul li:hover .fa-instagram {
    color: #bc2a8d;
    text-shadow: 0 0 15px #ffffff;
    transition: all 0.3 ease;
}

.footer ul li:hover.whatsapp {
    border: 3px solid #19e631;
    box-shadow: 0 0 15px #ffffff;
    transition: all 0.3 ease;
}
.footer ul li:hover .fa-whatsapp {
    color: #19e631;
    text-shadow: 0 0 15px #ffffff;
    transition: all 0.3 ease;
}

.footer ul li:hover.tiktok {
    border: 3px solid #000000;
    box-shadow: 0 0 15px #ffffff;
    transition: all 0.3 ease;
}
.footer ul li:hover .fa-tiktok {
    color: #000000;
    text-shadow: 0 0 15px #000000;
    transition: all 0.3 ease;
    filter: invert(100%) sepia(0%) saturate(7547%) hue-rotate(150deg) brightness(93%) contrast(108%);

}

.fa-tiktok {
    width: 30px; 
    height: auto; 
    margin-top: 6px;
}
.social-links li a img.fa-tiktok {
    color: #000000;
    text-shadow: 0 0 15px #000000;
    transition: all 0.3 ease;
    filter: invert(100%) sepia(0%) saturate(7547%) hue-rotate(150deg) brightness(93%) contrast(108%);
}