<div class="footer">
    <a routerLink="/home">
        <img class="footer-logo" src="../../../favicon.ico" alt="Logo">
    </a>    
    <p>Creando Recuerdos, Fomentando Aventuras</p>
    <ul class="social-links">
        <li class="facebook">
            <a href="https://www.facebook.com/laHoyilla" target="_blank">
                <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
            </a>
        </li>
        <li class="instagram">
            <a href="https://www.instagram.com/ludenatura/" target="_blank">
                <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
            </a>
        </li>
        <li class="tiktok">
            <a href="https://www.tiktok.com/@ludenatura?is_from_webapp=1&sender_device=pc" target="_blank">
                <img class="fa-tiktok" aria-hidden="true" src="../../../assets/footer/tik-tok.svg">
            </a>
        </li>
        <li class="whatsapp">
            <a href="https://wa.me/34600420871" target="_blank">
                <i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
    <a>© Copyright Ludenatura.com. All Rights Reserved
        <br>Designed by (linkedin)
    </a>
</div>