
.footer {
    text-align: center;
    padding: 20px;
    background-color: #20aec8;
}

.footer p{
    font-size: 1rem;
}

.footer-logo {
    width: 130px;
    height: auto;
    cursor: pointer;
}

.social-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

