<section class="activities-body">
    <p>¡Cuéntanos qué necesitas para poder ofrecerte la mejor solución!</p>
    <section class="photos-activities">
        <div (click)="redirectToCampamentos()" class="activity">
            <img alt="foto campamentos" title="Campamentos" [src]="campamentos"> 
            <a >Campamentos</a>
        </div>
        <div (click)="redirectToTalleres()" class="activity">
            <img alt="foto talleres" title="Talleres" [src]="talleres">
            <a routerLink="/talleres">Talleres</a>
        </div>
        <div (click)="redirectToActividades()" class="activity">
            <img alt="foto actividades" title="Actividades" [src]="actividades">
            <a>Actividades</a>
        </div>
    </section>

    <div (click)="redirectToHoyilla()" class="albergue-photo">
        <img alt="foto albergue" title="Albergue" [src]="albergue">
        <a>Albergue La Hoyilla</a>
    </div>

</section>
