.wrapper {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}
.site-branding {
    text-align: center;
    padding: 15px 0;
}
.site-logo {
    margin-bottom: 15px;
    size: 20px;
}

a {
    color: #20aec8;
    text-decoration: none;
}

img {
    width: 120px;
    height: 267;
}
.site-title {
    margin: 0;
    text-transform: uppercase;
    font-family: 'Khand', sans-serif;
    letter-spacing: 10px;
    line-height: 38px;
    font-size: 30px;
    font-weight: bold;
}

.site-title a:hover {
    color: #b0c745;
}

p {
    margin-bottom: 1.5em;
    color: #778a9c;
}

nav {
    display: flex;
    border-top: 3px solid #eee;
    border-bottom: 3px solid #eee;
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: space-evenly;
    position: relative; 
}

.site-branding:hover .site-header {
    color: #b0c745;
}

nav a, .dropdown {
    display: flex; 
    align-items: center; 
    height: 100%;
    padding: 0 20px; 
    text-decoration: none;
    color: #303c48;
    cursor: pointer;
    font-size: large;
    box-sizing: border-box;
    position: relative; 
    transition: transform 0.5s ease;
}

nav a:hover {
    color: #20aec8;
    transform: scale(1.1);
}

.dropdown {
    position: relative; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    left: 0; 
    top: 100%; 
    transform: translateX(-50%); 
    opacity: 0; 
    pointer-events: none; 
    transition: opacity 0.5s ease;
    z-index: 101; 
    text-align: center; 
}

.dropdown-content.show {
    display: block;
}

.dropdown-content a {
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #b0c745; 
    color: #e2001a;
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1; 
    pointer-events: auto; 
    animation: fadeInDropdown 1.1s forwards;
}

@keyframes fadeInDropdown {
    from {
        opacity: 0;
        transform: translateY(10px); 
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.menu-toggle {
    display: none;
    color: #b0c745;
    background-color: transparent;
    border: none;
    font-size: 50px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 200; /* Asegura que esté por encima del resto */
}



@media (max-width: 1024px) and (min-width: 600px) {
    .site-title {
        font-size: 28px; /* Tamaño de fuente más pequeño */
        letter-spacing: 8px; /* Ajusta el espaciado */
    }

    nav a, .dropdown {
        padding: 10px 15px;
        font-size: 18px; /* Tamaño de fuente ajustado */
    }

    .dropdown-content {
        min-width: 150px; /* Ajusta el ancho mínimo del dropdown */
    }
}

/* Estilos para móviles (menos de 600px) */
@media screen and (width < 35rem) {
    .menu-toggle {
        display: block; /* Mostrar el botón hamburguesa en móviles */
    }

    nav {
        position: fixed; /* Fijar el menú en la pantalla */
        top: 0;
        right: -40%; /* Inicialmente fuera de la pantalla */
        width: 35%;
        height: 40%; /* Ocupa toda la altura de la pantalla */
        background: #fff; /* Fondo blanco para el menú */
        box-shadow: -2px 0 5px rgba(0,0,0,0.3); /* Sombra para dar profundidad */
        display: flex;
        flex-direction: column;
        padding: 20px;
        z-index: 100;
    }
    
    /* Estilos cuando el menú está abierto */
    nav.open {
        right: 0;
        top: 35px; 
    }

    nav a, .dropdown {
        display: flex;
        width: 100%;
        justify-content: center;
        color: #303c48;
        box-sizing: border-box; /* Asegura que el padding no afecte al ancho total */
        border-bottom: none;
    }

    

    .dropdown {
        position: relative; /* Relativo al contenedor del dropdown */
    }

    .dropdown-content {
        display: none; 
        position: absolute;
        background-color: #f9f9f9;
        box-shadow: 0 8px 16px rgba(0,0,0,0.3);
        min-width: 190px;
        left: -120%; 
        top: 20px; 
        transform: translateX(-10px); 
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        z-index: 101;
    }

    .dropdown.show .dropdown-content {
        display: block; 
        opacity: 1;
    }
    .wrapper{
        border-bottom: 3px solid #eee; 
        width: 100%;
        margin: 0;
    }

}