

<div class="wrapper">
    <div class="site-branding">
        <div class="site-logo">
            <a href="/home" class="custom-logo-link" rel="home" aria-current="page">
                <img src="../../../favicon.ico" class="custom-logo" alt="Ludenatura" decoding="async" fetchpriority="high"></a>	          		
        </div>
        <div id="site-header">
            <p class="site-title">
                <a href="/home" rel="home">Ludenatura</a>
            </p>
        </div>
    </div>
</div>
<nav>
    <a class="clickable" id="home-anchor" routerLink="/campamentos">Campamentos</a>
    <div class="dropdown">
        <a id="talleres-anchor" routerLink="/talleres">Talleres</a>
        <div class="dropdown-content">
            <a *ngFor="let opcion of talleresOpciones; let i = index" 
               [routerLink]="['/talleres', opcion.toLowerCase(), i]">{{ opcion }}</a>
        </div>
    </div>
    <div class="dropdown">
        <a id="actividades-anchor" routerLink="">Actividades</a>
        <div class="dropdown-content">
            <a *ngFor="let opcion of actividadesOpciones" href="#">{{ opcion }}</a>
        </div>
    </div>
    <a id="laHoyilla-anchor" routerLink="">La Hoyilla</a>
    <a id="Contacto-anchor" routerLink="">Contacto</a>
</nav>
