
.section-campament {
    text-align: center;
}

.images{
    width: 300px;
    height: 300px;
    border-radius: 8px;
}


.container-1, .container-2 {
    display: flex;
    text-align: left;
    margin-left: 80px;
    padding: 10px;
    font-family: 'Khand', sans-serif;
    font-size: 1.2rem;
    color: rgb(79, 82, 101);
}

.photo-gallery {
    display: flex;
    justify-content: center;
    gap: 70px; 
    margin-top: 50px; 
    margin-bottom: 0;
}

.container-2{
    gap: 80px;
}

.text-and-photos {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: 'Khand', sans-serif;
    font-size: 1.2rem;
    padding: 0px 60px;
    margin-bottom: 0px;
    color: rgb(46, 46, 53);
}
.text-and-photos h1{
    font-size: 1.4rem;
    margin-left: 0px;
    color: #b0c745;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.photo-gallery2 {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
    margin-left: 90px;
    margin-top: 30px;
    position: relative;
    justify-content: center;
}

.activity-img {
    width: 350px;
    height: 350px;
    transition: opacity 1s ease; 
    opacity: 1; 
    top: 0;
    border-radius: 5%;
}

.activity-img.hide {
    opacity: 0; 
}

.ul {
    list-style-type: circle; 
    margin: 20px;
    padding-left: 40px; 
}

.li {
    margin-bottom: 10px; 
    font-family: 'Arial', sans-serif; 
    font-size: 16px;
    color: #333; 
}


.fila-lugares::-webkit-scrollbar {
    display: none;
}

.lugares {
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 2rem;
    color: #b0c745;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.fila-lugares {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 1rem;
    gap: 1.5rem;
    margin-right: 50px;
    margin-bottom: 30px;
    
}


.fila-lugares img:hover{
    transform: scale(1.03);
}

.lugar {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 1rem;
}

.campamento-name {
    opacity: 0.6;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: visible;
    width: 100%;
    text-align: center;
}

.campamento-img {
    border-radius: 0.5rem;
    box-shadow: var(--black-box-shadow);
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin: 0 auto;
    transition: transform 0.5s ease;
    cursor: pointer;
}
.container-3 {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: 'Khand', sans-serif;
    font-size: 1.2rem;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
    color: rgb(41, 42, 47);
    width: 100%;
    background: #fff; 
    border-radius: 10px;
    box-shadow: 0 8px 9px rgba(0, 0, 0, 0.4); 
    
}

.photos-info {
    text-align: center;
}

.photos-info img.info {
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto;
}

.photos-info a {
    display: block;
    margin-top: 10px;
    color: #b0c745;
    text-decoration: none;
    font-weight: bold;
}

.photos-info a:hover {
    text-decoration: underline;
}

.container-4 {
    display: flex;
    justify-content: center;
    margin-left: -90px;
    padding: 10px;
    font-family: 'Khand', sans-serif;
    font-size: 1.2rem;
    color: #b0c745;
}

.photos-info a span {
    display: block;
    margin-top: 10px; 
    color: #b0c745;
    font-weight: bold;
}


.centrado {
    text-align: center;
}

.photo-gallery3 {
    display: flex;
    justify-content: center;
    gap: 70px; 
    margin-bottom: 0;
}


.flip-container {
    perspective: 1000px;
    width: 250px;
    height: 250px;
    margin: 0 auto;
  }
  
  .flipper {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
  }
  
  .flip-container:hover .flipper {
    transform: rotateY(180deg);
  }
  
  .front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .front {
    transform: rotateY(0deg);
  }
  
  .back {
    transform: rotateY(180deg);
  }
  


