<app-fondo [section]="title">
    <section class="section-campament">
        <div class="photo-gallery">
            <article *ngFor="let foto of photos1" class="photos">
                <img class="images" alt="image-campament" [src]="foto">
            </article>
        </div>
        <div class="text-and-photos">
            <div class="container-1">
                <ul>
                    <h1>En Ludenatura proponemos la realización de campamentos con el fin de disfrutar de unos días de convivencia<br><br></h1>
                    <p>Los objetivos que nos planteamos en la realización de un campamento son:<br></p>
                    <li>Potenciar los valores de colaboración, respeto y tolerancia.<br></li>
                    <li>Trabajar el medio natural y cultural.<br></li>
                    <li>Establecer relaciones de convivencia.<br></li>
                    <li>Aprender del medio que nos rodea y apreciar las posibilidades de ocio que el entorno natural nos ofrece.<br></li>
                </ul>
            </div>
        </div>
        
        <div class="text-and-photos">
            <div class="container-2">
                <ul>
                    <p>Algunas de las actividades que ofrecemos son:<br><br></p>
                    <li>Talleres medioambientales.<br></li>
                    <li>Senderismo interpretativo.<br></li>
                    <li>Gymkhana.<br></li>
                    <li>Juegos de pista y rastreo.<br></li>
                    <li>Bailes coreografía.<br></li>
                    <li>Manualidades con material reciclado y ecológico.<br></li>
                    <li>Talleres culinarios.<br></li>
                    <li>Deportes canarios.<br></li>
                    <li>Visitas a huertos ecológicos.<br></li>
                    <li>Juegos alternativos.<br></li>
                    <li>Discotecas.<br></li>
                    <li>Juegos nocturnos.<br></li>
                    <li>Visionado de estrellas.<br></li>
                </ul>
                <div class="photo-gallery2">
                    <img class="activity-img" alt="image-campament" [src]="currentActivity" #activityImg>
                </div>
            </div>
        </div>
        <div class="text-and-photos">
            <h1 class="lugares">¡Pídenos tu campamento sin ningún compromiso!</h1>
            <div class="container-3">
                <h1 class="lugares2">Elige una de nuestras instalaciones, rellena el formulario y te damos el presupuesto:</h1>
                <div class="fila-lugares">
                    <div *ngFor="let content of lugares" class="lugar" (click)="openForm(content)">
                        <p class="campamento-name">{{ content.title }}</p>
                        <div class="flip-container">
                            <div class="flipper">
                              <div class="front">
                                <img class="campamento-img" alt="{{ content.title }}" [src]="content.image">
                              </div>
                              <div class="back">
                                <img class="campamento-img" alt="{{ content.title }} back" [src]="content.imageBack">
                              </div>
                            </div>
                        </div>                        
                        <p class="campamento-name">{{ content.sitio }}</p>
                    </div>
                </div>
                <div class="map-container">
                <!-- <app-mapa></app-mapa> -->
                </div>
            </div>
            <div *ngIf="selectedLugar" class="modal">
                <div class="modal-content">
                  <span class="close" (click)="closeForm()">×</span>
                  <h2>{{ selectedLugar.title }}</h2>
                  <h3>Formulario de reserva</h3>
                  <form [formGroup]="reservaForm" (ngSubmit)="onSubmit()" >
                    <div class="form-row">
                        <div class="form-group">
                          <label for="nombre">Nombre y apellidos<span class="required">*</span></label>
                          <input type="text" id="nombre" formControlName="nombre" [(ngModel)]="formData.name"  [ngClass]="{'form-control': true, 'invalid': isFieldInvalid('nombre')}">
                        </div>
                        <div class="form-group">
                          <label for="email">Email<span class="required">*</span></label>
                          <input type="email" id="email" formControlName="email" [(ngModel)]="formData.email"  [ngClass]="{'form-control': true, 'invalid': isFieldInvalid('email')}">
                        </div>
                        <div class="form-group">
                          <label for="movil">Móvil (con Whatsapp)<span class="required">*</span></label>
                          <input type="text" id="movil" formControlName="movil" [(ngModel)]="formData.movil"  [ngClass]="{'form-control': true, 'invalid': isFieldInvalid('movil')}">
                        </div>
                      </div>
                    <div class="form-row">
                        <div class="form-group">
                          <label for="dias">Colegio/IES<span class="required">*</span></label>
                          <input type="text" id="colegio" formControlName="colegio" min="1" [(ngModel)]="formData.colegio"  required [ngClass]="{'form-control': true, 'invalid': isFieldInvalid('colegio')}">
                        </div>
                        <div class="form-group">
                          <label for="cursos">Cursos</label>
                          <div class="custom-dropdown">
                            <button type="button" class="dropdown-toggle" (click)="toggleDropdown()">
                              Seleccionar cursos
                            </button>
                            <div class="dropdown-menu" [class.show]="isDropdownOpen">
                              <label *ngFor="let curso of cursos">
                                <input 
                                  type="checkbox" 
                                  [checked]="curso.selected"
                                  (change)="onCursoChange(curso, $event)"
                                >
                                {{ curso.name }}
                              </label>
                            </div>
                          </div>
                          
                        </div>
                    </div>

                      <div class="form-row">
                        <div class="form-group">
                          <label for="pax">Número de alumnos<span class="required">*</span></label>
                          <input type="number" id="pax" formControlName="pax" min="1" [(ngModel)]="formData.pax"  required [ngClass]="{'form-control': true, 'invalid': isFieldInvalid('pax')}">
                        </div>
                        <div class="form-group">
                          <label for="profesores">Número de profesores<span class="required">*</span></label>
                          <input type="number" id="profesores" formControlName="profesores" [(ngModel)]="formData.profesores"  min="1" required [ngClass]="{'form-control': true, 'invalid': isFieldInvalid('profesores')}">
                        </div>
                      </div>

                    <div class="form-row">
                        <div class="form-group">
                            <label for="fecha">Fecha de inicio<span class="required">*</span></label>
                            <input type="date" id="fechaIni" formControlName="fechaIni" [(ngModel)]="formData.fechaIni" (change)="calcularDias()" required [ngClass]="{'form-control': true, 'invalid': numeroDias<0}">
                        </div>
                        <div class="form-group">
                            <label for="fecha">Fecha de finalización<span class="required">*</span></label>
                            <input type="date" id="fechaFin" formControlName="fechaFin"  [(ngModel)]="formData.fechaFin" (change)="calcularDias()" required [ngClass]="{'form-control': true, 'invalid': numeroDias<0}">
                        </div>
                    </div>
                    <label class="observaciones-label">Opciones adicionales:</label>
                    <div class="form-row">
                      <div class="form-group select-group">
                        <label>Actividades acuáticas</label>
                        <select formControlName="actividadAcuatica" required>
                          <option value="no">No</option>
                          <option value="si">Sí</option>
                        </select>
                      </div>
                      <div class="form-group select-group">
                        <label>Meriendas</label>
                        <select formControlName="meriendas" required>
                          <option value="no">No</option>
                          <option value="si">Sí</option>
                        </select>
                      </div>
                      <div class="form-group select-group">
                        <label>Comida el último día</label>
                        <select formControlName="comidaUltima" required>
                          <option value="no">No</option>
                          <option value="si">Sí</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-row">
                        
                    </div>
                    <div class="form-row">
                        <div class="form-group select-group">
                          <label class="observaciones-label">Comentarios adicionales</label>
                          <textarea type="observaciones" id="observaciones" formControlName="observations" class="observaciones" [(ngModel)]="formData.observations"></textarea>
                        </div>
                    </div>
                    <div *ngIf="isFieldInvalid('nombre') || isFieldInvalid('email') || isFieldInvalid('pax') || isFieldInvalid('profesores') || isFieldInvalid('movil') || isFieldInvalid('fechaIni') || isFieldInvalid('fechaFin') || isFieldInvalid('colegio')" class="error">
                        Completa los campos obligatorios.
                    </div>
                    <button type="submit">Enviar</button>
                  </form>
                </div>
              </div>
              
              
        </div>
        
        <div class="text-and-photos">
            <h1 class="lugares2">Para cualquier duda, no dude en contactarnos:</h1>

            <div class="container-4">
                <ul>
                    <!-- <p class="centrado">A través de:<br></p> -->
                    <div class="photo-gallery3">
                        <article class="photos-info">
                            <a href="mailto:ludenatura@ludenatura.com">
                                <img class="info" alt="image-campament" src="../../../assets/campamentos/mail-99218_1280.png">
                                <span>ludenatura&#64;ludenatura.com</span>
                            </a>
                        </article>
                        <article class="photos-info">
                            <a href="tel:+34600420871">
                                <img class="info" alt="image-campament" src="../../../assets/campamentos/phone-99276_1280.png">
                                <span>600420871</span>
                            </a>
                        </article>
                    </div>
                </ul>
            </div>
        </div>
    </section>
    </app-fondo>
    