
.section-campament {
    text-align: center;
}

.images{
    text-align: center;
    width: 300px;
    height: 300px;
    border-radius: 8px;
}


.container-1, .container-2 {
    display: flex;
    text-align: left;
    margin-left: 80px;
    padding: 10px;
    font-family: 'Khand', sans-serif;
    font-size: 1.2rem;
    color: rgb(79, 82, 101);
}


.photo-gallery {
    display: flex;
    justify-content: center;
    gap: 70px; 
    margin-top: 50px; 
    margin-bottom: 0;
}

.text-and-photos p{
    color: #333; 
}

.container-2{
    gap: 80px;
}

.text-and-photos {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: 'Khand', sans-serif;
    font-size: 1.2rem;
    padding: 0px 60px;
    margin-bottom: 0px;
    color: rgb(46, 46, 53);
}
.text-and-photos h1{
    font-size: 1.4rem;
    margin-left: 0px;
    color: #b0c745;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.photo-gallery2 {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
    margin-left: 90px;
    margin-top: 30px;
    position: relative;
    justify-content: center;
}

.activity-img {
    width: 350px;
    height: 350px;
    transition: opacity 1s ease; 
    opacity: 1; 
    top: 0;
    border-radius: 5%;
}

.activity-img.hide {
    opacity: 0; 
}

.li {
    margin-bottom: 10px; 
    font-family: 'Arial', sans-serif; 
    font-size: 16px;
    color: #333; 
}


.fila-lugares::-webkit-scrollbar {
    display: none;
}

.lugares {
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 2rem;
    color: #b0c745;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.lugares2 {
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    color: #b0c745;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.fila-lugares {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    white-space: nowrap;
    padding: 0 30px;
    gap: 1.9rem;
    margin-right: 50px;
    margin-bottom: 30px;
    
}


.fila-lugares img:hover{
    transform: scale(1.03);
}

.lugar {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 1rem;
}

.campamento-name {
    opacity: 0.6;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: visible;
    width: 100%;
    text-align: center;
}

.campamento-img {
    border-radius: 0.5rem;
    box-shadow: var(--black-box-shadow);
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin: 0 auto;
    transition: transform 0.5s ease;
    cursor: pointer;
}
.container-3 {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: 'Khand', sans-serif;
    font-size: 1.2rem;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
    color: rgb(41, 42, 47);
    width: 100%;
    background: #fff; 
    border-radius: 10px;
    box-shadow: 0 8px 9px rgba(0, 0, 0, 0.4); 
    
}

.photos-info {
    text-align: center;
}

.photos-info img.info {
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto;
}

.photos-info a {
    display: block;
    margin-top: 10px;
    color: #b0c745;
    text-decoration: none;
    font-weight: bold;
}

.photos-info a:hover {
    text-decoration: underline;
}

.container-4 {
    display: flex;
    justify-content: center;
    margin-left: -90px;
    padding: 10px;
    font-family: 'Khand', sans-serif;
    font-size: 1.2rem;
    color: #b0c745;
}

.photos-info a span {
    display: block;
    margin-top: 10px; 
    color: #b0c745;
    font-weight: bold;
}


.centrado {
    text-align: center;
}

ul{
    padding: 0 20px;
}
.photo-gallery3 {
    display: flex;
    justify-content: center;
    gap: 70px; 
    margin-bottom: 0;
}


.flip-container {
    perspective: 1000px;
    width: 250px;
    height: 250px;
    margin: 0 auto;
  }
  
.flipper {
position: relative;
width: 100%;
height: 100%;
transform-style: preserve-3d;
transition: transform 0.6s;
}

.flip-container:hover .flipper {
transform: rotateY(180deg);
}

.front, .back {
position: absolute;
width: 100%;
height: 100%;
backface-visibility: hidden;
}

.front {
transform: rotateY(0deg);
}

.back {
transform: rotateY(180deg);
}

.text-and-photos > app-form {
    display: flex;
    justify-content: center;
}
  



/* Modal Background */
.modal {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    max-width: 600px; 
    border-radius: 10px;
    margin: 30px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.modal-content h2{
    color: #b0c745;
    text-align: center;
    margin: 0;
}
.modal-content h3{
    text-align: center;
    font-size: 17px;
}

/* Show the modal when active */
.modal.show .modal-content {
    opacity: 1;
    transform: translateY(0);
}

/* Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Form Layout */
.modal-content form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Form Row */
.form-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; 
}

/* Form Group */
.form-group {
    flex: 1; 
    min-width: 150px; 
}

/* Label and Input */
.select-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 17px;
    text-align: center;
}


.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 17px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;

}

/* Estilos para el select */
.form-group select {
    display: block;
    margin: 0 auto;
    padding: 8px;
    width: 40%; 
    font-size: 16px; 
    border: 2px solid #b0c745;
    border-radius: 25px; 
    background-color: #f7f7f7; 
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease;
    appearance: none;
    text-align: center; 
}
/* Icono de flecha personalizado para el select */
.form-group select::-ms-expand {
    display: none; 
}

.form-group select {
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23b0c745" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>'); /* Flecha abajo */
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center; 
    background-size: 16px; 
}
.form-group select:hover {
    background-color: #e8e8e8; 
    border-color: #8fb838; 
}

.form-group select:focus {
    outline: none; 
    border-color: #8fb838; 
    box-shadow: 0 0 8px rgba(176, 199, 69, 0.6);
}


/* Select Group (extra fields) */
.select-group {
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    background-color: #20aec8;
    cursor: pointer;
    margin-top: 10px;
}

.custom-dropdown button{
    margin: 0;
    border: 1px solid #888;
}

button:hover {
    color: white;
    background-color: #25cfed;
}


.required {
    color: red;
}

/* Dropdown Styles */
.custom-dropdown {
    position: relative;
    display: inline-block;
    width: 100%; 
}

.dropdown-toggle {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    text-align: left;
    box-sizing: border-box;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
    border: 1px solid #ccc;
    max-height: 200px; /* Ajusta el tamaño según sea necesario */
    overflow-y: auto;
    margin-top: 1px; /* Espacio entre el botón y el menú */
    box-sizing: border-box;
}

.dropdown-menu.show {
    display: flex;
    flex-direction: column;
}

.dropdown-menu label {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%; /* Asegura que el label ocupe el 100% del ancho disponible */
    padding: 8px 10px;
    cursor: pointer;
    box-sizing: border-box; /* Asegura que el padding y border estén incluidos en el ancho total */
    margin: 0;
    border-bottom: 1px solid #ddd; 
    text-align: left; /* Alinea el texto a la izquierda */
    white-space: nowrap; /* Evita el ajuste de texto en varias líneas */
}

.dropdown-menu input[type="checkbox"] {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: -80px; /* Espacio entre el checkbox y el texto */
}

.dropdown-menu label {
    flex-direction: row-reverse; /* Invierte el orden de los elementos */
}

.error {
    color: #d9534f; 
    text-align: center;
    font-size: 1.20rem; 
    margin-top: 0.25rem; /* Espacio arriba del mensaje */
    display: block; /* Asegura que el mensaje esté en una línea separada */
 }
  
 .form-control.invalid {
    border: 1px solid red;
  }

  .observaciones {
    height: 70px; /* Altura fija para el campo */
    width: 100%;
    box-sizing: border-box; /* Asegura que el padding esté incluido en la altura total */
    padding: 10px; /* Espacio interior para el texto */
    text-align: left; /* Alinea el texto a la izquierda */
    vertical-align: top; /* Alinea el texto verticalmente al principio */
}

.observaciones-label {
    text-align: center; 
    font-weight: bold ;
}


/* Estilos para tabletas (pantallas de entre 600px y 1024px) */
@media (max-width: 1024px) and (min-width: 600px) {
    

    
}

/* Estilos para móviles (pantallas de menos de 600px) */
@media (max-width: 35rem) {

    
    .container-1, .container-2, .container-4 {
        font-size: 1rem;
        margin: 10px;
        padding: 5px;
        gap: 20px;
    }

    .container-3 {
        padding: 10px;
        margin: 0;
        width: 95%; 
    }

    .photo-gallery {
        flex-direction: row;
        gap: 10px;
    }

    .photo-gallery2 {
        margin-left: 0;
        margin-top: 10px;
        flex-direction: column;
        width: 100%;
    }

    .activity-img {
        width: 100%;
        height: 100px;
    }

    .fila-lugares {
        gap: 0.5rem;
        flex-direction: column;
        overflow: hidden;
        margin-right: 0;
    }

    .campamento-img {
        width: 210px;
        height: 210px;
    }
    .p-cont{
        padding: 0 20px;
    }

    .text-and-photos {
        padding: 10px 10px;

    }
    .text-and-photos p{
        font-size: 1rem;
        font-weight: bold;
    }

    .text-and-photos h1 {
        font-size: 1.1rem;
    }

    .photos-info img.info {
        width: 50px;
        height: 50px;
    }
    
    .flip-container {
        width: 210px;
        height: 210px;
    }

    .campamento-name {
        font-size: 0.9rem;
    }
    .photos {
        flex-direction: row;
    }
    .images {
        width: 110px;
        height: 110px;
    }
    .lugar {
        padding: 0.5rem;
    }

    .lugar p{
        font-size: 0.78rem;
        font-weight: bold;
    }

    .modal {
        width: 100%; 
      }
    
      .modal-content {
        max-height: 100%;
        width: 80%;
        overflow-y: auto; /* Permitir desplazamiento si es necesario */
        padding: 30px; /* Reducir el relleno para pantallas móviles */
        box-sizing: border-box;
      }
    
      .form-row {
        display: block; /* Asegurar que los campos se apilen */
        margin-bottom: 10px; /* Reducir el espacio entre los campos */
      }
    
      /* Botón de cerrar */
      .close {
        top: 10px;
        right: 15px;
        font-size: 24px;
        cursor: pointer;
        z-index: 1000; /* Asegurarse de que siempre esté visible */
      }
    
      button[type="submit"] {
        width: 100%;
        margin-top: 15px;
      }

      .modal-content h2{
        font-size: 1.5rem;
      }
      
    .photo-gallery3 {
        display: grid;
        gap: 20px;
        
    }
    .container-4 {

        margin-left: -20px;
    }


}

@media (min-width: 3000px) {
    .fila-lugares::-webkit-scrollbar {
        display: block;
        height: 15px;
    }
    .fila-lugares::-webkit-scrollbar-thumb {
        background-color: #b0c745; /* Color del scroll */
        border-radius: 10px;
        
    }
}
