
.section-animation {
    text-align: center;
    padding: 15px;
    font-family: 'Khand', sans-serif;
    font-size: 1.2rem;
    color: rgb(79, 82, 101);
    width: 70rem;
}

.section-animation h1 {
    color: #b0c745;
}

.container-animation {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}


.animation p {
    font-weight: bold;
    margin-bottom: 10px;
    padding: 30px;
    
}

.container-animation ul li {
    padding: 5px 0;
    text-align: left;
}

.images-animation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    
}

.animation img {
    width: 230px;
    height: auto;
    border-radius: 8px;
    border: 1px solid #b0c745;
}

/* Ajustes para pantallas móviles */
@media screen and (max-width: 35rem) {
    .section-animation {
        padding: 10px;
        width: 100%; /* Ajusta el ancho para pantallas móviles */
        box-sizing: border-box; /* Asegura que el padding esté incluido en el ancho total */
    }

    .container-animation {
        flex-direction: column; /* Coloca la lista y las imágenes en columnas */
        gap: 15px; /* Reduce el espacio entre elementos */
        align-items: center; /* Centra los elementos */
    }

    .animation p {
        padding: 15px; /* Reduce el padding */
        font-size: 1rem; /* Ajusta el tamaño del texto */
    }

    .container-animation ul {
        padding: 0;
        margin: 0;
    }

    .container-animation ul li {
        font-size: 1rem; /* Ajusta el tamaño de la fuente */
        padding: 5px 0;
    }

    .images-animation {
        gap: 10px; /* Reduce el espacio entre imágenes */
        align-items: center;
    }

    .animation img {
        width: 100%; /* Ajusta el ancho al 100% del contenedor */
        max-width: 120px; /* Establece un tamaño máximo para las imágenes */
        height: auto;
        margin-top: 10px;
    }
}

