<section class="section-animation">
    <h1>Animación</h1>
    <div class="animation">
        <p>Para fiestas populares, mercadillos, ferias...</p>
        <div class="container-animation">
            <ul>
                
                <li>Talleres de Clown</li>
                <li>Talleres con Paracaídas</li>
                <li>Taller de salsa</li>
                <li>Taller de risoterapia</li>
                <li>Globoflexia</li>
                <li>Malabares</li>
                <li>Ludoteca</li>
                <li>Títeres</li>
            </ul>
            <div class="images-animation">
                <img src="../../../../assets/talleres/no-photo.jpg">
                <img src="../../../../assets/talleres/no-photo.jpg">
                <img src="../../../../assets/talleres/no-photo.jpg">
                <img src="../../../../assets/talleres/no-photo.jpg">
            </div>
        </div>
    </div>
</section>