<section class="section-cultural">
    <h1>Culturales</h1>
    <div class="culturales">
        <div class="container-culturales">
            <div class="images-culturales">
                <img src="../../../../assets/talleres/no-photo.jpg">
                <img src="../../../../assets/talleres/no-photo.jpg">
            </div>
            <div class="text-content">
                <ul>
                
                    <li (mousemove)="showDescription(descripPayasos)" (mouseleave)="clearDescription()">Actuación de payasos</li>
                    <li (mouseenter)="showDescription(descripTiteres)" (mouseleave)="clearDescription()">Actuación de Títeres</li>
                    <li (mouseenter)="showDescription(descripMural)" (mouseleave)="clearDescription()">Pintura Mural</li>
                    
                </ul>
            </div>
        </div>
        <div class="container-explicativo">
            <p>{{description}}</p>
        </div>


    </div>

</section>
