<section class="hero">
    <img src="../../../../assets/homepage-images/0 2024-07-13 a las 0.30.04.png" alt="Imagen de cabecera">
    <div class="hero-content">
        <h1 class="fade-in">Hola, Somos Ludenatura</h1>
        <p class="fade-in">Una empresa canaria con más de 30 años de experiencia en el sector. Somos especialistas en la gestión de campamentos, talleres, celebraciones y todo tipo de actividades lúdicas, deportivas, culturales y medioambientales. Además, gestionamos el Albergue la Hoyilla en La Aldea de San Nicolás.</p>
    </div>
</section>
