.title {
    margin-left: 0px;
    padding: 20px;
    margin-top: 20px;
    color: #b0c745;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 1.9rem;
}


.navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between; 
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 20px 40px;
    width: 86%; 
    margin: 10px auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 5px;
}

.types-actividades {
    flex: 1; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 0 10px;
    text-align: center; 
    position: relative; 
}

.types-actividades::after {
    content: "";
    position: absolute;
    top: 10%;
    bottom: 10%;
    right: -10px; 
    width: 1px;  
    background-color: rgba(0, 0, 0, 0.1);
}

.types-actividades:last-child::after {
    display: none; 
}

.navbar .types-actividades {
    background-color: transparent;
    padding: 10px 40px;
    border-radius: 10px;
    cursor: pointer;
}

.types-actividades a {
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    color: #b0c745;
    text-shadow: 0px 2px 6px rgba(62, 62, 62, 0.2);
}

.navbar img {
    width: 150px;
    height: 120px;
    margin-bottom: 10px; 
    border-radius: 5px;
}

.navbar span {
    display: block;
    font-size: 1.1rem;
    font-weight: bold;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding: 20px 80px; 
    width: 80%;
    margin: 10px auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}


.navbar .types-actividades.selected {
    background-color: #afc745c8;
    margin-right: 10px;
    margin-left: 10px;  
}

.navbar .types-actividades.selected a{
    color: #e2001a;
}




.image-container {
    display: flex; 
    justify-content: space-between; 
    gap: 90px; 
    margin: 50px;
}

.slide-image {
    width: 250px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.section-actividades {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: 'Khand', sans-serif;
    color: rgb(79, 82, 101);
}

.section-actividades h1{
    margin-bottom: 50px;
    color: #b0c745;;
}

.section-actividades ul{
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: 1.5rem;
    list-style-type: none;
}

.section-actividades li{
    
    margin-bottom: 10px;
}


/* Media query moviles */
@media screen and (width < 35rem)  {
    .title{
        font-size: 1.3rem;
    }
    .navbar {
        flex-direction: column;
        padding: 10px;
        width: 60%;
        align-items: center;
        margin: 0 auto; 
    }

    .types-actividades {
        margin: 5px 0;
        padding: 5px;
        display: block;
        width: 140px;
    }

    .types-actividades img {
        display: none;
    }

    .navbar span {
        font-size: 0.9rem; 
    }

    .types-actividades a {
        font-size: 0.9rem;
    }

    .types-actividades.selected {
        background-color: #b0c745;
    }
    .types-actividades::after {
        content: "";
        position: absolute;
        left: 0;
        top: -6px; 
        width: 100%;
        height: 1px; 
        background-color: rgba(0, 0, 0, 0.1); 
        transition: background-color 0.3s ease;
    }
    .types-actividades:first-child::after {
        content: none;
    }
    .types-actividades:nth-child(2)::before {
        content: "";
        position: absolute;
        bottom: -6px; 
        left: 0;
        width: 100%;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.1);
    }

    .container {
        padding: 10px 20px;
    }

    .section-actividades {
        padding: 10px;
    }

    .section-actividades h1 {
        font-size: 1rem; 
        margin-bottom: 20px; 
    }

    .section-actividades ul {
        font-size: 0.9rem; 
    }

   

    .image-container {
        display: flex;
        justify-content: center; 
        align-items: center;
        gap: 10px;
        margin: 0 auto;
        width: 100%; 
    }
    
    
.slider-container {
    width: 100%;
    height: 150px; /* Ajusta la altura según el tamaño de las imágenes */
    display: flex;
    justify-content: center; 
    overflow: hidden; /* Para evitar que las imágenes sobresalgan del contenedor */
}
    
   .slide-image {
    position: absolute;
    width: 80%;
    max-width: 150px; 
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
    
    
    
    .slide-image.active {
    opacity: 1;
    }
    
    .slide-image.inactive {
    opacity: 0;
    }
    

}
    
