.title {
    margin-left: 0px;
    padding: 20px;
    margin-top: 20px;
    color: #b0c745;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    font-family: 'Khand', sans-serif;
    font-size: 1.5rem;
}


.navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between; 
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 20px 40px;  /* Ajusta el padding para que se vea bien con menos elementos */
    width: 86%;          /* Ajusta el width para que se vea bien con menos elementos */
    margin: 10px auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 5px;
}

.types-actividades {
    flex: 1; /* Permite que los elementos se distribuyan uniformemente */
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 0 10px; /* Reduce el margen para evitar espacios grandes con menos elementos */
    text-align: center; 
    position: relative; 
}

.types-actividades::after {
    content: "";
    position: absolute;
    top: 10%;
    bottom: 10%;
    right: -10px; /* Ajusta este valor para que funcione bien con menos elementos */
    width: 1px;   /* Reduce el ancho de la línea */
    background-color: rgba(0, 0, 0, 0.1);
}

.types-actividades:last-child::after {
    display: none; /* Asegúrate de que la línea no aparezca en el último elemento */
}

.navbar .types-actividades {
    background-color: transparent;
    padding: 10px 40px;
    border-radius: 10px;
}

.types-actividades a {
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    color: #b0c745;
    text-shadow: 0px 2px 6px rgba(62, 62, 62, 0.2);
}

.navbar img {
    width: 150px;
    height: 120px;
    margin-bottom: 10px; 
    border-radius: 5px;
}

.navbar span {
    display: block;
    font-size: 1.1rem;
    font-weight: bold;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding: 20px 80px; 
    width: 80%;
    margin: 10px auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for the background */
    border-radius: 5px;
}


.navbar .types-actividades.selected {
    background-color: #b0c745;
    margin-right: 10px; /* Deja margen para la línea divisoria */
    margin-left: 10px;  /* Deja margen para la línea divisoria */
}

.navbar .types-actividades.selected a{
    color: #e2001a;
}


.actividadesimg {
    display: flex; 
    justify-content: space-between; 
    gap: 90px; 
    margin: 50px;
}

.actividadesimg img {
    width: 250px; 
    height: auto; 
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination-controls button {
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 1rem;
    cursor: pointer;
}

.pagination-controls span {
    font-size: 1rem;
}

.section-actividades {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: 'Khand', sans-serif;
    color: rgb(79, 82, 101);
}

.section-actividades h1{
    margin-bottom: 50px;
    color: #b0c745;;
}

#h1 {
    margin-bottom: 50px;
    color: #b0c745;;
}

.section-actividades ul{
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: 1.5rem;
}

.section-actividades li{
    margin-bottom: 10px;
}

