<section class="section-charlas">
    <h1>Charlas</h1>
    <div class="charlas">
        <p>Texto introductorio</p>
        <div class="container-charlas">
            <ul>
                <li>Charlas medioambientales</li>
                <li>Informática</li>
                <li>Yoga</li>
                <li>Etnografía</li>
                <li>Idiomas</li>
                <li>Fotografía</li>
                <li>CH - QN</li>
                <li>Educación afectiva - sexual</li>
                <li>Quehaceres domésticos</li>
                <li>Autoestima</li>
                <li>Internet</li>
                <li>Uso de móviles e IPAD</li>
                <li>Cocina vegetariana - vegana</li>
                <li>Prevención de drogas</li>
            </ul>
            <div class="images-charlas">
                <img src="../../../../assets/talleres/no-photo.jpg">
                <img src="../../../../assets/talleres/no-photo.jpg">
                <img src="../../../../assets/talleres/no-photo.jpg">
                <img src="../../../../assets/talleres/no-photo.jpg">
            </div>
        </div>
    </div>
</section>
