<app-fondo [section]="title">
    <h1 class="title">¡Nos complace darles la bienvenida a nuestro acogedor Hostel La Hoyilla!</h1>
    <app-info-hostal [lis]="lis" [images]="images"></app-info-hostal>
    <div class="client-map">
        <app-clientes></app-clientes>
        <app-map></app-map>
    </div>
    <h3>Para más, sigue las redes sociales de Albergue La Hoyilla:</h3>
    <app-social-links [colorClass]="color" [muestraWhats]="muestraWhatsapp" [facebook]="facebook" [twitter]="twitter" [instagram]="instagram" [tiktok]="tiktok"></app-social-links>
    
    
<app-fondo/>
