.title {
    color: #b0c745;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 20px;
}

h3 {
  color: #6a6a6a;
}

.client-map {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    height: 100%; 
    padding: 20px; 
  }
  
  .client-map > app-clientes, 
  .client-map > app-map {
    width: 50%; /* Cada componente ocupa el 50% del ancho */
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    text-align: center; 
  }
  .client-map > app-clientes, 
  .client-map > app-map {
    padding: 20px;
    border-radius: 10px;
  }

  .formulario {
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100%; 
    padding: 20px;
  }

  .formulario > app-form {
    width: 70%;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
  }


  
  @media screen and (max-width: 35rem) {
    .client-map {
      justify-content: center;
      flex-direction: column; /* Apila los elementos verticalmente */
      width: 100%; /* Asegura que el contenedor no se desborde */
      max-width: 100%;
      padding: 0 10px; /* Un poco de padding para los lados */
      margin-top: 30px;
    }
    h3{
      font-size: 1rem;
    }
  
    .client-map > app-clientes, 
    .client-map > app-map {
      width: 100%; /* Cada componente ocupa el 100% del ancho en pantallas pequeñas */
      max-width: 100%;
      padding: 10px 0; /* Reduce el padding para pantallas pequeñas */
      margin-right: 20px;
    }
  }