.title {
    color: #b0c745;
    padding: 20px;
}

.client-map {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    height: 100%; 
    padding: 20px; 
  }
  
  .client-map > app-clientes, 
  .client-map > app-map {
    width: 50%; /* Cada componente ocupa el 50% del ancho */
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    text-align: center; 
  }
  .client-map > app-clientes, 
  .client-map > app-map {
    padding: 20px;
    border-radius: 10px;
  }

  .formulario {
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100%; 
    padding: 20px;
  }

  .formulario > app-form {
    width: 70%;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  
