<section class="section-mayores">
    <h1>Mayores</h1>
    <div class="mayores">
        <p>Algunas de las actividades que ofrecemos:</p>
        <div class="container-mayores">
            <ul>
                <li>Gerontogimnasia</li>
                <li>Gimnasia hipopresiva abdominal</li>
                <li>Iniciación al yoga</li>
                <li>Recuperando el juego</li>
                <li>Terapia con Crochet</li>
                <li>Estimulación cognitiva a través del juego</li>
                <li>Ejercicios de estiramientos</li>
                <li>Taller de inteligencia emocional</li>
                <li>Alfabetización digital. Uso de móviles</li>
                <li>Educación postural</li>
                <li>Caminatas de Baños de bosque</li>
            </ul>
            <div class="images-mayores">
                <img src="../../../../assets/talleres/no-photo.jpg">
            </div>
        </div>
        <div class="images-others">
            <div class="img1">
                <img src="../../../../assets/talleres/no-photo.jpg">
            </div>
            <img src="../../../../assets/talleres/no-photo.jpg">

        </div>
    </div>
</section>