
.contact-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 30px;
}

.contact-contenedor img{
    width: 250px;
    height: auto;
}

.datos {
    display: block;
    justify-content: left;
    text-align: left;
    color: rgb(79, 79, 79);
   
}

@media screen and (width < 35rem) {
    .contact-contenedor {
        justify-content: center;
        display: block;
        width: 100%;
        gap: 40px;
    }

    .contact-contenedor img{
        width: 150px;
    }
    .datos{
        padding: 20px 50px;
    }

    
}